[Unit]
Description=LXQt cheatcodes in live media
ConditionPathExists=/usr/share/farewell-lxqt-livesettings/
After=farewell-common-livesettings.service

[Service]
Type=oneshot
ExecStart=/usr/share/farewell-lxqt-livesettings/lxqt-cheatcodes start

[Install]
WantedBy=graphical.target
